<!-- <footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <hr class="my-4">
  <div class="pb-4">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank">
      <i class="fab fa-telegram mr-3"></i>
    </a>
    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>
    </a>
    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fab fa-instagram mr-3"></i>
    </a>
  </div>
  <div class="footer-copyright py-3">
    © 2019 Все права защищены:
    <a href="#" target="_blank"> djecommerce.uz </a>
  </div>
</footer> -->

<footer class="page-footer font-small special-color-dark pt-4">

  <div class="container">


    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>

  </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
</footer>